body ,th,td{
	font:normal 12px ו; 
}
body  { margin:0px; background:#C4D8ED; margin:0px; padding:10px; 
SCROLLBAR-FACE-COLOR: #72A3D0; SCROLLBAR-HIGHLIGHT-COLOR: #337ABB; 
SCROLLBAR-SHADOW-COLOR: #337ABB; SCROLLBAR-DARKSHADOW-COLOR: #337ABB; 
SCROLLBAR-3DLIGHT-COLOR: #337ABB; SCROLLBAR-ARROW-COLOR: #FFFFFF;
SCROLLBAR-TRACK-COLOR: #337EC0; 
}
a { color:#135294; text-decoration: none; }
a:hover { color: #ff6600; text-decoration: underline; }
td { height:24px; line-height:20px; color:#135294; font-size:12px; border:1px solid #fff; padding:3px; }
.td_title,th {
	height:36px;
	background:#fff;
	color:#135294;
	font-weight:bold;
	border:1px solid #fff;
	padding-left:20px;
	text-align:left;
}
tr.tr1 { background:#F1F3F5; }
tr.tr2 { background:#E4EDF9; }
tr.tr3 { background:#fff; }
td span { width:100%; }
input { border:none; }
.button { color: #135294; border:1px solid #666; height:21px; line-height:21px; background:url("image/button_bg.gif")}
.radio { border:none; }
.checkbox { border:none; }
.helplink{
	CURSOR: help;
}
.warn{
	color:#f00;
	display:inline;
}
.menuskin {

	BORDER: #666666 1px solid; VISIBILITY: hidden; FONT: 12px Verdana;

	POSITION: absolute; 

	BACKGROUND-COLOR:#EFEFEF;

	background-repeat : repeat-y;

	}

.menuskin A {

	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; COLOR: black; TEXT-DECORATION: none; behavior:url(inc/noline.htc);

	}

#mouseoverstyle {

	BACKGROUND-COLOR: #C9D5E7; margin:2px; padding:0px; border:red 1px solid;

	}

#mouseoverstyle A {

	COLOR: black

}

.menuitems{

	margin:2px;padding:1px;word-break:keep-all;

}
.title{font:14px;}
.font1{color:#AAAAAA;}
.font2{color:red;}

.TextBoxFocus{border:1px solid #339900;background-color:#FFFFF0;}

/**/
input { border-bottom:1px solid #BDC5CA; border-right:1px solid #BDC5CA; border-top:1px solid #6F787E; border-left:1px solid #6F787E; padding:3px 2px; font-size:12px; }
.input0{background:url("/images/button_bg.gif");border:1px solid #BDC5CA}
button { height:28px; line-height:28px; border:1px solid #C6D2E3; background:url("/images/button_bg.gif"); font-size:12px; }
.button_on { background:url("/images/button_bg2.gif"); border:1px solid #c3a336; }
.input_on { background:url("/images/button_bg2.gif"); border:1px solid #c3a336; }

#pagelink {
	text-align:center;
	height:25px;
	}
	
#pagelink a {
	text-decoration:none;
	}
	
#pagelink a:hover {
	color:#ff0000;
	}

#pagelink form {
	margin:0;
	padding-top:2px;
	}
	
#pagelink span {
	color:#ff0000;
	width:auto;
	}

#pagebutton {
	height:20px;
	}