<div class="footer">
	<div id="footer-content">
		<div class="footer-block">
			公司简介<br >
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			台江商务咨询有限公司坐落于享誉"人间天堂" - 杭州。是一家集销售、进出口贸易、服务、商务咨询为一体的综合型企业。公司业务涉及保健品、饮品、化妆品等各行业。
		</div>
		<div style="height: 208px;float: left;border-left-style: dotted;border-left-width: 1px;border-color: #c1c1c1;"></div>
		<div class="footer-block">
			联系方式<br >
			电话：0571-86821602<br >
			传真：0571-86821612<br >
			E-mail：hangzhou_taijiang@163.com<br >
			地址：杭州市下城区建国北路281号双牛大厦8A<br >
		</div>
		<div style="height: 208px;float: left;border-left-style: dotted;border-left-width: 1px;border-color: #c1c1c1;"></div>
		<div class="footer-block">
			给我们发邮件<br >
			如果您对该网站有任何的疑问，就给我们发邮件吧。<br >
			<br>
			<a href="#"><div class="sndemail"></div></a>
		</div>
	</div>
</div>

<div id="copyright">
	<div class="copyright-content">
		<span class="sh">
			<div class="DetShare">
				<div class="bshare-custom icon-medium">
					<div class="bsPromo bsPromo2"></div>
					<a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a>
					<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
					<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
				</div>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
		</span>
		<span class="cp">&copy; Copyright 2014 TJSWZX. ALL RIGHTS RESERVED.</span>
	</div>
</div>