<div class="category-side">
	<p class="title">产品分类</p>
	<ul>
		<dc_tag:category_list count="0" length="50" hidden="1" belong="12">
		<li><a title="{dc_category_name}" href="{dc_fileurl}{dc_category_path}">{dc_category_name}[{dc_category_count}]</a></li>
		</dc_tag>
	</ul>
	<p class="title">产品反馈</p>
	<ul>
		<dc_tag:article_list count="6" length="34" hidden="0" category="19">
		<li><a title="[用户反馈] {dc_article_title}" href="{dc_fileurl}{dc_article_path}">{dc_article_title}</a></li>
		</dc_tag>
		<dc_tag:article_list count="6" length="34" hidden="0" category="18">
		<li><a title="[加盟商反馈] {dc_article_title}" href="{dc_fileurl}{dc_article_path}">{dc_article_title}</a></li>
		</dc_tag>
	</ul>
</div>
		
